####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false
wss.url=https://saas.whitesourcesoftware.com/agent

#ignoreJavaScriptFiles=false
#projectPerFolder=true

enableImpactAnalysis=true
maven.aggregateModules=true
gradle.aggregateModules=true
maven.ignoredScopes=None
#wss.connectionTimeoutMinutes=60
#npm.resolveDependencies=false
#npm.includeDevDependencies=false
#bower.resolveDependencies=false
##################################
# Organization tokens:
##################################
apiKey=b2bde1259cfd424c822eb8a48edc5ed617074ce5e66e48dab8d3bdab86e6bdcc
#apiKey=8fc6cf05cb1f49f090fd8375c1cf8f7ca8ddea6711054d7194fc5e60791f4bc1
#userKey=feda7230f0744390864ea99f3c8b9ad85b9c4d90521144eb88149595fa961c77

projectName=test
projectVersion=
projectToken=

productName=test
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.js
#includes=**/*.m **/*.mm  **/*.js **/*.php
includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.c#  **/*.csharp
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar

##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=

##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
