####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
 
checkPolicies=false
forceCheckAllDependencies=false
#forceUpdate=false
#offline=true
#dependenciesOnly=true
  
#projectPerFolder=true
#projectPerFolderIncludes= 
#projectPerFolderExcludes= 
  
#wss.connectionTimeoutMinutes=60
#wss.url=https://app.whitesourcesoftware.com/agent
#wss.url=https://saas.whitesourcesoftware.com/agent
wss.url=https://dev.whitesourcesoftware.com/agent
 
#npm.ignoreJavaScriptFiles=false
#npm.resolveDependencies=false
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
  
#bower.resolveDependencies=false
#bower.runPreStep=true
  
#nuget.resolveDependencies=false
#nuget.restoreDependencies=true
  
#python.resolveDependencies=false
#python.ignorePipInstallErrors=true
  
#maven.ignoredScopes=test provided
#maven.resolveDependencies=true
maven.aggregateModules=false
 
#gradle.resolveDependencies = false
#gradle.runAssembleCommand = false

#paket.resolveDependencies=false
#paket.ignoredGroups=
#paket.ignoreFiles=false
#paket.runPreStep=true
#paket.exePath=

#go.resolveDependencies=false
#go.collectDependenciesAtRuntime=true
#go.dependencyManager= 

#ruby.resolveDependencies = false
#ruby.runBundleInstall = true
#ruby.overwriteGemFile = true
#ruby.installMissingGems = true

#php.resolveDependencies = true
#php.runPreStep = true
#php.includeDevDependencies = true

#sbt.resolveDependencies = false

html.resolveDependencies = false

##################################
# Organization tokens:
##################################
###Dev-Key###
apiKey=87ed4e01a84448b490a2513190e086e3b7d399cf249c4655bc60ae5150a8a1af
###Saas-Key###
#apiKey=b2bde1259cfd424c822eb8a48edc5ed617074ce5e66e48dab8d3bdab86e6bdcc

#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=
  
projectName=ksa-via
projectVersion=
projectToken=
  
productName=ksa-via
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com
   
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.php **/*.js **/*.jar
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm  **/*.js **/*.php **/*.jar **/*.gem **/*.rb **/*.dll **/*.cs **/*.c# **/*.csharp **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.zip **/*.tar.gz **/*.tar.xz **/*.egg **/*.whl **/*.py **/*.a **/*.f
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
  
case.sensitive.glob=false
followSymbolicLinks=true
   
##################################
# Archive Properties
##################################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar
   
##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=
   
##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
  
##############################################
# SCAN MODE: Linux package manager settings
##############################################
#scanPackageManager=true
 
##################################
# SCAN MODE: Docker images
##################################
#docker.includes=.*.*
#docker.excludes=.*.*
#docker.scanImages=true