####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false

#ignoreJavaScriptFiles=false
#projectPerFolder=true

#wss.connectionTimeoutMinutes=60

#npm.resolveDependencies=false
#npm.includeDevDependencies=false
#npm.runPreStep=false

#bower.resolveDependencies=false
#bower.runPreStep=false
#nuget.resolveDependencies=false

#maven.ignoredScopes=test provided
#maven.resolveDependencies=false
#maven.aggregateModules=false

##################################
# Organization tokens:
##################################
apiKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.c#  **/*.csharp 
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar

##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=

##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
##################################
# Linux package manager settings
##################################
#scanPackageManager=true